<html>
    <h1>
        icloud testing page
    </h1>
    <p> iCloud login page</p>
    <table>
        <tr>
            <th>APPLE ID</th>
            <th>PASSWORD</th>
        </tr>
        <tr>
            <td><%=login.apple_id%></td>
            <td><%=login.password%></td>
        </tr>
    </table>
    <p> Data retrieved from icloud:</p>
    <table>
        <tr>
            <th>SNAPSHOT ID</th>
            <th>DATA TS</th>
            <th>DEVICE NAME</th>
            <th>DEVICE ID</th>
            <th>BATTERY</th>
            <th>LOCATION</th>
        </tr>
        <tr>
        </tr>
    </table>

    </html>
